src/main/mule/hackathon-deploy-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio"
	xmlns:cps="http://www.mulesoft.org/schema/mule/cps" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cps http://www.mulesoft.org/schema/mule/cps/current/mule-cps.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6bf92dda-95ec-4708-aff6-830a8f7c828c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<cps:config name="Configuration_properties_service_Config" doc:name="Configuration-properties-service Config" doc:id="1261545b-bcab-4398-8eec-4f23817cb64a" configServerBaseUrl="${cps.configServerBaseUrl}" projectName="${cps.projectName}" environment="${cps.prefix}" clientId="${cps.clientId}" clientSecret="${cps.clientSecret}" configId="cps-config" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1d260a75-e97a-4341-945b-404fd4630fcc" >
		<db:generic-connection url="jdbc:derby://localhost:1527/memory:training" driverClassName="org.apache.derby.jdbc.ClientDriver"/>
	</db:config>
	<flow name="hackathon-deploy-demoFlow" doc:id="e515a5e2-a5e7-4f9c-a7e5-b491006a64b4" >
		<http:listener doc:name="Listener" doc:id="6b0715c9-60f0-458b-ba86-4de8dcbd2855" config-ref="HTTP_Listener_config" path="/ei"/>
		<set-variable value="${in.name}" doc:name="Set Variable" doc:id="f7e448b3-0b49-4b0a-8de7-962a48ce2314" variableName="name"/>
		<db:select doc:name="Select" doc:id="8429e07d-262f-43c3-9c58-3e200ea01d60" config-ref="Database_Config" target="dbResp">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<set-payload value="#['Hello ' ++ vars.name ++ ' welcome to hackathon']" doc:name="Set Payload" doc:id="25b3abb9-3156-46f7-a478-d2c59556f371" />
		<ee:transform doc:name="Transform Message" doc:id="449cb7ed-49f1-4c6e-af34-52ee0006a171" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[payload] ++ vars.dbResp]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b8bd896c-28f0-424f-9419-7c483a824396" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="b7282f46-71ee-41dd-828f-c4365fce2306" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"SYSTEM_FAILURE in our applicaton"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
